/*  ---------------------------------------------------
	SCSS FONTS
	---------------------------------------------------  */
html {
  color: blue; }

/*  ---------------------------------------------------
	SCSS VARIABLES
	---------------------------------------------------  */
/*  ---------------------------------------------------
	SITE STRUCTURE
	---------------------------------------------------  */
/*  ---------------------------------------------------
	DEFAULTS
	---------------------------------------------------  */
body {
  font-size: 14px;
  color: #ff3333;
  line-height: 1.8; }
