/*  ---------------------------------------------------
	SCSS FONTS
	---------------------------------------------------  */

	@import "scss/_fonts.scss";
	
/*  ---------------------------------------------------
	SCSS VARIABLES
	---------------------------------------------------  */

	@import "scss/_variables.scss";

/*  ---------------------------------------------------
	SITE STRUCTURE
	---------------------------------------------------  */

	@import "scss/_basic.scss";
	
/*  ---------------------------------------------------
	DEFAULTS
	---------------------------------------------------  */

	body {
		font-size: 16px;
		color: $red;
		line-height: 1.8;
	}